<div class="gc-wrapper">
	<div class="gc-box" [@flipState]="flip" (click)="toDashboard(gameData)">
		<div class="gc-box__side gc-box__front">

            <div class="header">
                <mat-icon class="icon pad" (click)="toggleFlip($event)">flip_to_back</mat-icon>
                <div class="date">{{dayMonthYear}}</div>
            </div>        

            <div class="content">
                <div class="left" [style.backgroundColor]="gameData.homeTeamBG">
                    <img class="homeLogo" [src]="gameData.homeTeamLogo">
                </div>
                <div class="right" [style.backgroundColor]="gameData.awayTeamBG">
                    <img class="awayLogo" [src]="gameData.awayTeamLogo">
                </div>
            </div>

		</div>
		<div class="gc-box__side gc-box__back">

            <div class="header">
                <mat-icon class="icon pad" (click)="toggleFlip($event)">flip_to_back</mat-icon>
                <div class="date">Pitcher Log</div>
            </div>   

            <div class="backlist">
                <ul>
                    <li *ngFor="let pitcher of gameData.pitchers; let i = index" (click)="storePitcher(pitcher.pitcherName, gameData)">
                        <span class="number">{{ i + 1 }}</span>
                        <span class="name">{{ pitcher.pitcherName }}</span>
                    </li>
                </ul>
            </div>
            
		</div>
	</div>
</div>
