.list-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    background-color: #fff;
    color: #323232;
}

.list-wrapper::-webkit-scrollbar{
    display: none;
}

.sortBubble {
    display: flex;
    background-color: #1C3049;
    width: 360px;
    justify-content: center;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: #f4f4f4;
}

.filter {
    position: fixed;
    background-color: #fff;
    z-index: 1000;
    display: flex;
    width: 350px;
    height: 76px;
    justify-content: center;
}

.panel {
    width: 140px !important;
}

.panel::-webkit-scrollbar{
    display: none;
}

.selectPitcher {
    margin-top: 5px;
    padding: 5px;
}

.selectPitchType {
    margin-top: 5px;
    padding: 5px;
}

.selection {
    margin-top: 76px;
    z-index: 100;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 4px !important;
    max-width: 20% !important;
}

.pitch-name-column {
    min-width: 35%;
    display: flex;
    justify-content: left;
}

.velocity-column {
    min-width: 25%;
    display: flex;
    justify-content: center;
}

.label {
    color: #323232 !important;
}


/* thank you inspector..... */
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
    background-color: #ec6e18 !important;
    border-color: #1c3149 !important;
}

.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after, .mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
    color: #1c3149;
}

.mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: #1c3149;
}

.mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: #ec6e18;
}